h1{
    text-decoration: dotted;
    font-size: 50px;
    text-align: center;
    color: rgb(253, 255, 255);
}

body{
    background-color: rgb(1, 19, 37);
}

.logo {
    border-radius: 50%;
    width: 70px;
}
.mochila {
    border-radius: 25%;
    width: 400px;

}
.icon {
 border-radius: 50%;
 width: 20px;
}